listen_address: "192.168.1.x"
printers:
  Bamboozled:
    usn: "xxxxxxxxxxxxxxx"
    model: "N2S"
    signal: "-44"
    address: "192.168.4.x"
  AnotherPrinter:
    usn: "xxxxxxxxxxxxxxx"
    model: "X3P"
    signal: "-44"
    address: "192.168.4.x"
